@tailwind base;
@tailwind components;
@tailwind utilities;

.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-container svg {
    width: 897px;
    height: 452px;
}

#bg-cover{
    @apply h-screen pb-14 bg-right bg-cover;
    background-image: url('../images/bg.svg');
}

.cone{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.placa{
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}
